.footer {
  &__text {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
  }
}

.privacy-policy {
  margin: 16px 0;
}

.year {
  @media (min-width: 0px) {
    display: block;
  }
}
