/* Header */

.header {
  &--flex {
    display: flex;
    justify-content: space-between;
    height: 88px;
    padding: 0 16px;
    align-items: center;
    border-bottom: 1px solid #d9fff5;

    @media (min-width: 0px) {
      width: fit-content;
    }
    @media (min-width: 1426px) {
      position: absolute;
      width: 1070px;
      z-index: 100;
    }
  }

  &__left-col {
    width: 186px;
    &--page-header {
      @media (min-width: 0px) {
        visibility: visible;
      }
      @media (min-width: 1426px) {
        visibility: hidden;
      }
    }
  }

  &__right-col {
    gap: 42px;
  }

  &__logo {
    @media (min-width: 0px) {
      margin: 0 5px;
    }
    @media (min-width: 768px) {
      margin: 2px 0 0 42px;
      position: relative;
    }
    @media (min-width: 1120px) {
      visibility: hidden;
    }
  }

  &__links {
    position: relative;
  }

  &__contacts {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    @media (min-width: 1120px) {
      visibility: hidden;
    }
  }

  &__services {
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 2px;
      height: 100%;
      left: -20px;
      border-radius: 1px;
      background: rgb(234, 234, 234);
      vertical-align: middle;
      transform: scaleY(0.8);
      @media (min-width: 1120px) {
        display: none;
      }
    }
  }

  &__container {
    @media (min-width: 768px) {
      padding: 0 24px;
    }
    @media (min-width: 1120px) {
      position: fixed;
      z-index: 1;
      right: 0;
      top: 18px;
      padding: 0 28px;
      border-bottom: initial;
    }
  }
  &__logo {
    @media (min-width: 768px) {
      margin: 2px 0 0 42px;
      position: relative;
    }
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 2px;
      height: 70%;
      top: 15%;
      left: -22px;
      border-radius: 1px;
      background: rgb(234, 234, 234);
      transform: scaleY(0.8);
      vertical-align: middle;
    }
  }
}

.header-col {
  display: flex;
  align-items: center;
}
.links-list {
  display: flex;
  gap: 16px;
  @media (min-width: 1120px) {
    gap: 32px;
  }
}
.links-list__link {
  display: flex;
  align-items: center;
  gap: 16px;
  @media (min-width: 1120px) {
    gap: 12px;
  }
}
.links-list__link-text {
  display: none;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: -0.2px;
  @media (min-width: 1120px) {
    display: inline-block;
  }
}
