.page {
  font-family: 'TT Lakes', sans-serif;
  &--center {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    height: 100%;
  }
  &--modal-on {
    overflow: hidden;
  }
  &__content {
    @media (min-width: 0px) {
      max-width: 320px;
    }
    @media (min-width: 320px) {
      max-width: 100vw;
    }
    @media (min-width: 1426px) {
      max-width: 1156px;
    }
  }
  &__modal {
    position: fixed;

    width: 100vw;
    height: 100vh;
    z-index: 1000;
  }
  &__footer {
    flex-direction: column;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 19px;
    padding: 0 16px;
  }
}
